<div class="row">
    <ng-container *ngFor="let item of data" [ngSwitch]="item.type">
  
      <div *ngSwitchCase="'text'" [class]="item.classContainer">
        <label *ngIf="item.label" [for]="item.id">{{item.label}}</label>
  
        <div class="form-group mb-3">
          <input [type]="item.type" [id]="item.id" [formControlName]="item.formControlName" class="form-control"
            [placeholder]="item.placeholder" />
          <span *ngIf="dynamicForm.get(item.formControlName)?.invalid && dynamicForm.get(item.formControlName)?.touched">
            {{ getErrorMessage(item) }}
          </span>
        </div>
      </div>
  
      <div *ngSwitchCase="'email'" [class]="item.classContainer">
        <label *ngIf="item.label" [for]="item.id">{{item.label}}</label>
  
        <div class="form-group mb-3">
          <input [type]="item.type" [id]="item.id" [formControlName]="item.formControlName" class="form-control"
            [placeholder]="item.placeholder" />
          <span *ngIf="dynamicForm.get(item.formControlName)?.invalid && dynamicForm.get(item.formControlName)?.touched">
            {{ getErrorMessage(item) }}
          </span>
        </div>
      </div>
  
      <div *ngSwitchCase="'date'" [class]="item.classContainer">
        <label *ngIf="item.label" [for]="item.id">{{item.label}}</label>
    
        <div class="form-group mb-3">
            <input [type]="item.type" [id]="item.id" [formControlName]="item.formControlName" class="form-control"
                [placeholder]="item.placeholder" />
            <span *ngIf="dynamicForm.get(item.formControlName)?.invalid && dynamicForm.get(item.formControlName)?.touched">
                {{ getErrorMessage(item) }}
            </span>
        </div>
    </div>
    
  
      <div *ngSwitchCase="'select'" [class]="item.classContainer">
        <div class="form-group">
          <label [for]="item.id">{{item.label}}</label>
  
          <select *ngIf="item.isMultiple && !item.isKeyValue" class="form-control" [id]="item.id" [formControlName]="item.formControlName"
            multiple>
            <option value="" disabled selected>{{item.placeholder}}</option> 
            <option *ngFor="let option of item.options" [value]="option">{{option}}</option>
          </select>
          <select *ngIf="!item.isMultiple && !item.isKeyValue" class="form-control" [id]="item.id" [formControlName]="item.formControlName">
            <option value="" disabled selected>{{item.placeholder}}</option> 
            <option *ngFor="let option of item.options" [value]="option">{{option}}</option>
          </select>
  
          <select *ngIf="!item.isMultiple && item.isKeyValue && item.isKeyValue==true" class="form-control" [id]="item.id" [formControlName]="item.formControlName">
            <option value="" disabled selected>{{item.placeholder}}</option> 
            <option *ngFor="let option of item.options" [value]="option.id">{{option.name}}</option>
          </select>
  
        </div>
      </div>
  
      <div *ngSwitchCase="'number'" [class]="item.classContainer">
        <label *ngIf="item.label" [for]="item.id">{{item.label}}</label>
  
        <div class="form-group mb-3">
          <input [type]="item.type" [id]="item.id" [formControlName]="item.formControlName" class="form-control"
            [placeholder]="item.placeholder" />
          <span *ngIf="dynamicForm.get(item.formControlName)?.invalid && dynamicForm.get(item.formControlName)?.touched">
            {{ getErrorMessage(item) }}
          </span>
        </div>
      </div>
  
      <div *ngSwitchCase="'radio'">
        <label class="pl-3" *ngIf="item.label" [for]="item.id">{{ item.label }}</label>
  
        <div [class]="item.classContainer" style="align-items: center;">
          <div class="custom-control custom-radio mr-4">
            <input id="false" type="radio" class="custom-control-input " [value]="false" [name]="item.formControlName"
              [formControlName]="item.formControlName">
            <label class="custom-control-label" for="true">{{item.labelRadio1}}</label>
          </div>
  
          <div class="custom-control custom-radio">
            <input id="true" type="radio" class="custom-control-input" [value]="true" [name]="item.formControlName"
              [formControlName]="item.formControlName">
            <label class="custom-control-label" for="false">{{item.labelRadio2}}</label>
          </div>
        </div>
      </div>
  
      <div *ngSwitchCase="'textarea'" [class]="item.classContainer">
        <label *ngIf="item.label" [for]="item.id">{{item.label}}</label>
        <div class="form-group mb-3">
          <textarea [id]="item.id" [formControlName]="item.formControlName" class="form-control" id="description"
            [placeholder]="item.placeholder" rows="3"></textarea>
          <span *ngIf="dynamicForm.get(item.formControlName)?.invalid && dynamicForm.get(item.formControlName)?.touched">
            {{ getErrorMessage(item) }}
          </span>
        </div>
      </div>
    </ng-container>
  </div>
  