<div class="container">
  <div class="row">
    <h1>Form dynamic Angular V1</h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            Type utilisateur
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Membre
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <form class="p-4" [formGroup]="fbGroupRole">
            <app-dynamic-input
              [data]="formDataRole"
              [dynamicForm]="fbGroupRole"
            ></app-dynamic-input>
            <div class="d-flex justify-content-end pt-4">
              <button class="btn btn-primary" (click)="saveRole()">Enregistrer Rôle</button>
            </div>
          </form>
        </div>
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          <form class="p-4" [formGroup]="fbGroupMember">
            <app-dynamic-input
              [data]="formDataMember"
              [dynamicForm]="fbGroupMember"
            ></app-dynamic-input>
            <div class="d-flex justify-content-end pt-4">
              <button class="btn btn-primary" (click)="saveMember()">Enregistrer Membre</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
